<!-- <div>Hoi</div>

<p>{{ name }} lives at the {{ street }} {{ number}} and his password is {{ password }}. Is that correct? {{ correct }}</p>

<img [src]= image alt="image"> <br>

<button (click)="onClicking()">Click me</button>
<br>
Price : {{ price }}
<br>
<button 
(click)="makeHigher()"

>Hoog de prijs op!</button>
<button (click)="lowerPrice()">Verlaag de prijs!</button>
<div (mouseover)="onHovering()">Hover over me!</div> -->
<!-- <br>
<input type="text" placeholder="price" [(ngModel)] = "price">
<br>
<input type="text" placeholder="name" [(ngModel)] = "name"> -->
<!-- <form (ngSubmit)="onSubmit()">
  <input type="text" placeholder="price" [(ngModel)] = "someObject.price" name="price"><br>
  <input type="text" placeholder="name" [(ngModel)] = "someObject.name" name="name"><br>
  <button>Magic</button>
</form> --> 

<button (click)="toonLifecycle =! toonLifecycle">Toggle lifecycle component</button>
<app-lifecycle 
  [contacts]="contacts"
  [message]="message"
  *ngIf="toonLifecycle"
></app-lifecycle>


<hr>

<div class="jumbotron">Hello {{name}}</div>

<div class="container">
  <h1 class="display-1">Date picker</h1>
  <p class="lead">Pick your date like a pro</p>
  <h3>Contacts</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
      *ngFor="let contact of contacts">
        <td>{{contact | contactName }}</td>
        <td>{{contact.email}}</td>
        <!-- <td>{{ nu | date: 'dd MMMM yyyy' | uppercase }}</td> -->
        <td>
          <button (click)="editContact(contact)" id="edit-btn">Edit</button>
          <button (click)="deleteContact(contact)" id="delete-btn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>  

<form 
  (ngSubmit)="addContact()"
  [formGroup]="addContactForm"
>
  <input type="text" placeholder="first name" formControlName="firstName"><br>
  <input type="text" placeholder="last name" formControlName="surname"><br>
  <input type="email" placeholder="email" formControlName="email"><br>
  <div *ngIf="((email.touched || email.dirty) && email.hasError('required'))">Please enter a mail address</div>
  <div *ngIf="((email.touched || email.dirty) && email.hasError('pattern'))">Please follow the following pattern: mailadres@provider.nl</div>
  <button id="add-btn" [disabled]="addContactForm.invalid">Add</button>
</form>
