button {
  margin: 2px;
}

button {
  color: white;
  border: none;
  border-radius: 2px;
  padding: 4px;
  background-color: blue;
}

#delete-btn {
  background-color: red;
}

#edit-btn {
  background-color: gray;
}